body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 5px 0;
  text-align: center;
  position: relative;
}

header h1 {
  margin: 0;
  font-size: 1.5em;
}

nav {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  border: 1px solid #fff;
  border-radius: 5px;
  transition: background-color 0.3s;
}

nav ul li a:hover {
  background-color: #555;
}

.comparison-table {
  width: 100%;
  margin: 2em 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: auto;
}

th,
td {
  border: 1px solid #ddd;
  padding: 1em;
  text-align: center;
  vertical-align: middle;
}

th {
  background-color: #f4f4f4;
}

th img {
  max-width: 125px; /* Adjust as needed */
  height: auto;
}

td img {
  width: 90px; /* Ensure images are the same size */
  height: auto;
  object-fit: cover;
}

tbody tr td:first-child {
  font-weight: bold;
  text-align: left;
}

tbody tr td {
  word-wrap: break-word;
}

thead th,
tbody td {
  width: 100px; /* Fixed width for each column */
}
