<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{.Car.Name}} - Details</title>
    <link rel="stylesheet" href="/static/carStyle.css" />
  </head>
  <body>
    <header>
      <h1>{{.Car.Name}}</h1>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section id="car-details">
        <img src="/api/img/{{.Car.Image}}" alt="{{.Car.Name}}" />
        <div class="details">
          <table>
            <tr>
              <td><strong>Category:</strong></td>
              <td>{{.Car.CategoryDetails.Name}}</td>
            </tr>
            <tr>
              <td><strong>Country:</strong></td>
              <td>{{.Car.ManufacturerDetails.Country}}</td>
            </tr>
            <tr>
              <td><strong>Manufacturer:</strong></td>
              <td>{{.Car.ManufacturerDetails.Name}}</td>
            </tr>
            <tr>
              <td><strong>Year:</strong></td>
              <td>{{.Car.Year}}</td>
            </tr>
            <tr>
              <td><strong>Engine:</strong></td>
              <td>{{.Car.Specifications.Engine}}</td>
            </tr>
            <tr>
              <td><strong>Horsepower:</strong></td>
              <td>{{.Car.Specifications.Horsepower}}</td>
            </tr>
            <tr>
              <td><strong>Transmission:</strong></td>
              <td>{{.Car.Specifications.Transmission}}</td>
            </tr>
            <tr>
              <td><strong>Drivetrain:</strong></td>
              <td>{{.Car.Specifications.Drivetrain}}</td>
            </tr>
            <tr>
              <td><strong>Founding Year:</strong></td>
              <td>{{.Car.ManufacturerDetails.FoundingYear}}</td>
            </tr>
          </table>
        </div>
      </section>
    </main>
  </body>
</html>
