<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Compare Cars</title>
    <link rel="stylesheet" href="/static/compare.css" />
  </head>
  <body>
    <header>
      <h1>Compare Cars</h1>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
        </ul>
      <!-- </nav> -->
    </header>

    <main>
      <div class="comparison-table">
        <table>
          <thead>
            <tr>
              <th></th>
              {{range .Cars}}
              <th><img src="/api/img/{{.Image}}" alt="{{.Name}}" /></th>
              {{end}}
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><strong>Category:</strong></td>
              {{range .Cars}}
              <td>{{.CategoryDetails.Name}}</td>
              {{end}}
            </tr>
            <tr>
              <td><strong>Country:</strong></td>
              {{range .Cars}}
              <td>{{.ManufacturerDetails.Country}}</td>
              {{end}}
            </tr>
            <tr>
              <td><strong>Manufacturer:</strong></td>
              {{range .Cars}}
              <td>{{.ManufacturerDetails.Name}}</td>
              {{end}}
            </tr>
            <tr>
              <td><strong>Year:</strong></td>
              {{range .Cars}}
              <td>{{.Year}}</td>
              {{end}}
            </tr>
            <tr>
              <td><strong>Engine:</strong></td>
              {{range .Cars}}
              <td>{{.Specifications.Engine}}</td>
              {{end}}
            </tr>
            <tr>
              <td><strong>Horsepower:</strong></td>
              {{range .Cars}}
              <td>{{.Specifications.Horsepower}}</td>
              {{end}}
            </tr>
            <tr>
              <td><strong>Transmission:</strong></td>
              {{range .Cars}}
              <td>{{.Specifications.Transmission}}</td>
              {{end}}
            </tr>
            <tr>
              <td><strong>Drivetrain:</strong></td>
              {{range .Cars}}
              <td>{{.Specifications.Drivetrain}}</td>
              {{end}}
            </tr>
            <tr>
              <td><strong>Founding Year:</strong></td>
              {{range .Cars}}
              <td>{{.ManufacturerDetails.FoundingYear}}</td>
              {{end}}
            </tr>
          </tbody>
        </table>
      </div>
    </main>
  </body>
</html>
